# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
*.env
*.venv


# Flask instance folder
instance/

# Pytest / testing
.pytest_cache/
.coverage

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

#config
config.py

static/uploads/