<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/all_items.css') }}"
    />
    <title>All Items</title>
  </head>
  <body>
    <div class="search-container">
      <form action="/search" method="GET">
        <input 
          type="text" 
          class="search-input" 
          name="q" 
          placeholder="Search IKEA products..."
          value="{{ request.args.get('q', '') }}"
          />
        <button type="submit" class="search-btn">Go</button>
      </form>
    </div>
    <h1>All Items</h1>

    <ul>
      {% for item in items %}
      <div class="container">
        <li>
          <h3>Product Description</h3>
          <p>Product Name: {{ item.product.Product_Name }}</p>
          <p>Brand: {{ item.product.Product_Brand }}</p>
          <p>Category: {{ item.product.Product_Category }}</p>
          <p>Description: {{ item.product.Product_Description }}</p>
          <img
            src="{{ url_for('static', filename='uploads/' + item.product.Product_image_url) }}"
            alt="{{ item.product.Product_Name }}"
            width="100"
          />
        </li>
        <li>
          <h3>Location</h3>
          <p>Warehouse: {{ item.location.warehouse }}</p>
          <p>Aisle: {{ item.location.aisle }}</p>
          <p>Rack: {{ item.location.rack }}</p>
          <p>Bin: {{ item.location.bin }}</p>
        </li>
        <li>
          <h3>Stock</h3>
          <p>Quantity: {{ item.stock.quantity }} {{ item.stock.unit }}</p>
          <p>Reorder Level: {{ item.stock.reorder_level }}</p>
        </li>
        <li>
          <h3>Price</h3>
          <p>Cost: ${{ item.price.cost }}</p>
          <p>Selling Price: ${{ item.price.selling_price }}</p>
        </li>
        <li>
          <h3>Stock History</h3>
          <p>Type: {{ item.stock_history.type }}</p>
          <p>Quantity: {{ item.stock_history.quantity }}</p>
          <p>Date: {{ item.stock_history.date }}</p>
          <p>Handled By: {{ item.stock_history.handled_by }}</p>
        </li>
        <li>
          <h3>Last Updated</h3>
          <p>Created at: {{ item.created_at }}</p>
          <p>Last Updated: {{ item.updated_at }}</p>
        </li>
      </div>
      {% endfor %}
    </ul>

    <a href="{{ url_for('main.logout') }}">Logout</a>
  </body>
</html>
