<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Items</title>
</head>
<body>
  
  <h1>All Items</h1>
  <ul>
    {% for item in items %}
      <li>
        <p>Product Name: {{ item.Product_Name }}</p>
        <p>Brand: {{ item.Product_Brand }}</p>
        <p>Category: {{ item.Product_Category }}</p>
        <p>Description: {{ item.Product_Description }}</p>
        <img src="{{ url_for('static', filename='uploads/' + item.Product_image_url) }}" alt="{{ item.Product_Name }}" width="100">
      </li>
    {% endfor %}
  </ul>

  <a href="{{ url_for('main.logout') }}">Logout</a>

</body>
</html>